<ion-view view-title="A propos" class="greenbg">
	<ion-content scroll="false" class="padding">

		<div class="bar bar-header bar-dark">
			<h1 class="title right titleright">À propos</h1>
		</div>

		<p class="aboutext topping">Les Greeters Paris sont des ambassadeurs bénévoles et passionnés qui
		accueillent avec chaleur des visiteurs du monde entier. Ils proposent des balades
		gratuites dans Paris et les communes limitrophes</p>
		<br>
		<p class="aboutext">Chaque rencontre entre un Greeter et ses visiteurs est un moment unique:
		 le partage d'une ville mondialement connue mais aussi la découverte de l'autre et de sa culture.
		 Une occasion de montrer Paris comme ses habitants l'aiment, de faire découvrir des quartiers dont
		les visiteurs ignorent l'existence ou dans lesquels ils n'auraient pas osé s'aventurer.</p>
		<br>
		<p class="aboutext">Ces rencontres sont toujours un levier efficace pour
		accomplir l'ambition de Greeters.Paris: changer le regard des touristes sur les parisiens et leur ville. </p>

		<div class="bar bar-footer bar-dark">
			<div class="button-bar">
				<a class="button button-icon icon ion-home" ui-sref="home"></a>
				<a class="button button-icon icon ion-document-text" ui-sref="category"></a>
				<a class="button button-icon icon ion-android-walk" ui-sref="configuration"></a>
				<a class="button button-icon icon ion-camera"></a>
				<a class="button button-icon icon ion-search" ui-sref="search"></a>
			</div>

	</ion-content>

</ion-view>