<ion-view view-title="Category" class="greenbg">
    <ion-content class="" scroll="false">

    <div class="bar bar-header bar-dark">
  <h1 class="title right titleright">Catégories</h1>
</div>

<div class="list">

  <a class="item item-icon-left greenbg " href="#">
    <i class="icon ion-fork white"></i>
    <p class="whitefont">Restaurants</p>

  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-ios-home white"></i>
    <p class="whitefont">Musées</p>
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-compass white"></i>
    <p class="whitefont">Rues</p>
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-person-stalker white"></i>
    <p class="whitefont">Monuments</p>
    
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-android-pin white"></i>
    <p class="whitefont">Places</p>
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-ios-plus-outline white"></i>
   <p class="whitefont">Autres</p>
  </a>

  <div class="bar bar-footer bar-dark">
  <div class="button-bar">
  <a class="button button-icon icon ion-home" ui-sref="home"></a>
  <a class="button button-icon icon ion-document-text" ui-sref="category"></a>
  <a class="button button-icon icon ion-android-walk"></a>
  <a class="button button-icon icon ion-camera"></a>
  <a class="button button-icon icon ion-search" ui-sref="search"></a>
</div>

</div>
</ion-content> 
</ion-view>