<ion-view view-title="Category" class="greenbg">
    <ion-content class="" scroll="false">

<div class="list">

  <a class="item item-icon-left greenbg " href="#">
    <i class="icon ion-fork white"></i>
    <p class="whitefont">Restaurants</p>
    
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-ios-home white"></i>
    <p class="whitefont">Musées</p>
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-compass white"></i>
    <p class="whitefont">Rues</p>
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-person-stalker white"></i>
    <p class="whitefont">Monuments</p>
    
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-android-pin white"></i>
    <p class="whitefont">Places</p>
  </a>

  <a class="item item-icon-left greenbg" href="#">
    <i class="icon ion-ios-plus-outline white"></i>
   <p class="whitefont">Autres</p>
  </a>

</div>
</ion-content> 
</ion-view>