<ion-view view-title="Category" class="greenbg">
    <ion-content class="" scroll="false">

        <div class=" barre-du-haut bar bar-header bar-dark">
        <a class=" retour button icon-left ion-chevron-left button-clear button-dark" ui-sref="home"></a>
        <h1 class="title title-right">Paramètres</h1>
    </div>

        <div class="margin-top list toppings">

            <a class="item item-icon-right greenbg profil" ui-sref="profil ">
                <i class="icon ion-ios-arrow-forward white"></i>
                <p class="whitefont2">Profil</p>
            </a>

            <a class="item item-icon-right greenbg" ui-sref="account">
                <i class="icon ion-ios-arrow-forward white"></i>
                <p class="whitefont2">Gérer mon Compte</p>
            </a>

            <a class="item item-icon-right greenbg" ui-sref="about">
                <i class="icon ion-ios-arrow-forward white"></i>
                <p class="whitefont2">À propos</p>
            </a>

            <a class="item item-icon-right greenbg" href="#">
                <i class="icon ion-ios-arrow-forward white"></i>
                <p class="whitefont2">Déconnexion</p>
            </a>




        </div>

        <div class="contour-icone barre-du-bas bar bar-footer bar-dark">
    <div class="button-bar">
      <a class="bordure-icone-right button button-icon icon ion-home" ui-sref="home"></a>
      <a class="bordure-icone-right button button-icon icon ion-document-text" ui-sref="category"></a>
      <a class="bordure-icone-right button button-icon icon ion-android-walk"></a>
      <a class="bordure-icone-right button button-icon icon ion-camera"></a>
      <a class="bordure-icone-left button button-icon icon ion-search" ui-sref="search"></a>
    </div>
  </div>

    </ion-content>
</ion-view>