<ion-view view-title="Connect" class="back1">
    <ion-content class="padding imgaccueil" scroll="false">
      <div>
        <img src="../img/logo.png" class="logo" alt="logo">
      </div>
        <!--<div>
        <div class="text-center paddin">
            <label class="item">
                <button class="button button-fb" ng-click="fbLogin()">
                    Login with Facebook
                </button>
            </label>
        </div>
        <div class="text-center bordure">
          <p>OU</p>
        </div>
      </div>-->
      <div class="login text-center">
        <button id="facebook" class="button button-full button-positive" ng-click="connect()"><img src="img/facebook.png" class="logo-facebook">Se Connecter avec Facebook</button>
      </div>
      <br>
      <div class="login text-center">
        <button id="instagram" class="button button-full button-positive" ng-click="connect()"><img src="img/instagram.png" class="logo-insta">Se Connecter avec Instagram</button>
      </div>
      <br>
      <div class="login text-center">
        <button id="connexion" class="button button-full button-positive" ng-click="connect()">Connexion</button>
      </div>
      <div class="connect text-center">
      <br>
      <div>
        <a id="inscription" ui-sref="inscription">Se créer un compte</a>
      </div>
      </div>
    </ion-content> 
</ion-view>