<ion-view view-title="Category" class="greenbg">
    <ion-content class="" scroll="false">
	
	<div class=" barre-du-haut bar bar-header bar-dark">
  		<a class=" retour button icon-left ion-chevron-left button-clear button-dark"></a>
  		<h1 class="title">Nom d'Utilisateur</h1>
	</div>
	
	<div id="user">
		<div class="row">
			<div class="col col-33"><img src="img/flou.jpg" class="pictures-user"></div>
  			<div class="col col-33"><h5 class="user-bold">Nom d'Utilisateur</h5></div>
  			<div class="col col-33"><h5>2 ballades</h5></div>
		</div>
		<div class="row">
  			<div class="col col-75 col-offset-25"><div class="button modif">Modifier votre Profil</div>
		</div>
		<div class="row">
			<h3 class="title title-pictures">Mes Photos Favorites</h3>
		</div>
	</div>




	<div class="contour-icone barre-du-bas bar bar-footer bar-dark">
    <div class="button-bar">
      <a class="bordure-icone-right button button-icon icon ion-home" ui-sref="home"></a>
      <a class="bordure-icone-right button button-icon icon ion-document-text" ui-sref="category"></a>
      <a class="bordure-icone-right button button-icon icon ion-android-walk"></a>
      <a class="bordure-icone-right button button-icon icon ion-camera"></a>
      <a class="bordure-icone-left button button-icon icon ion-search" ui-sref="search"></a>
    </div>
  </div>
	
	</ion-content>
</ion-view>