.map {
    background: url(../img/map.jpg);
    background-repeat: no-repeat;
     background-size:100% 100%;
    background-position: center;
    margin: auto;
    z-index: 2;
    position: absolute;
}

.back1 {
    background: url(../img/back1.jpg);
    background-repeat: no-repeat;
     background-size:100% 100%;
    background-position: center;
    margin: auto;
    z-index: 2;
    position: absolute;
}

.logo {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;

}

.greenbg {
    background-color: #557b13;
}

.whitefont {
    color: white!important;
    text-align: center;
}

.whitefont2 {
    color: white!important;

}

.white {
    color: white!important;
}

.right {
    text-align: right;
}

.titleright {
    position:relative!important;
    font-size: 20px!important;
    
}

.bar {
    background-color: black;
}

.lieu {
    background-color: black;
}

input placeholder {
    color: white;
}

input.placeholder {
    color: white;
}

#inscription {
    color: white;
    text-decoration: underline;
}

#bouton-inscription {
    background-color: black;
    background: rgba(0, 0, 0, .6);
    width: 55%;
    height: 55px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
}

#bouton-connexion {
    background-color: black;
    background: rgba(0, 0, 0, .6);
    width: 80%;
    height: 55px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 30px;
}

#connexion {
    background-color: black;
    background: rgba(0, 0, 0, .6);
    width: 80%;
    height: 80px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
} 

#instagram {
    background-color: black;
    background: rgba(0, 0, 0, .6);
    width: 80%;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    color: #9b6954;
}

#facebook {
    background-color: black;
    background: rgba(0, 0, 0, .6);
    width: 80%;
    height: 60px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    color: #3b5998;
}

.logo-insta {
    width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.logo-facebook {
    width: 30px;
    vertical-align: middle;
    margin-right: 12px;
}

<<<<<<< HEAD
=======

>>>>>>> 39476b68f9429318f7e9843b52db6da1e76aa3db
#bouton-inscription {
    background-color: black;
    background: rgba(0, 0, 0, .6);
    width: 60%;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 50px;
}

.connection {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    height: 65px;
    color: black;
}

<<<<<<< HEAD
=======

>>>>>>> 39476b68f9429318f7e9843b52db6da1e76aa3db
/* ABOUT SECTION */
.aboutext{
    color:white!important;
    font-size: 18px;
}

.topping {
    padding-top: 130px;
}

.toppings {
    padding-top: 50px;
}

.retour {
    color: white !important;
}

.barre-du-haut {
    background-color: black !important;
}

.barre-du-bas {
    background-color: black !important;
}

.contour-icone {
    border: 1px solid white !important;
}

.bordure-icone-right {
    border-right: 2px solid white !important;
    padding-top: 3px !important;
    margin-top: -6px !important;
    margin-bottom: -5px;
}

.bordure-icone-left {
    margin-top: -4px !important;
}

<<<<<<< HEAD
#user {
    margin-top: 75px;
}

#user h5 {
    color: white;
}

.user-bold {
    font-weight: bold;
}

.pictures-user {
    width: 80%;
    display: block;
    margin: auto;
}

.modif {
    background-color: rgba(23, 87, 50, .8);
    color: white;
    width: 80%;
    margin-left: 30px;
    margin-top: -55px;
    font-size: 15px;
}

.title-pictures {
    color: white;
    text-align: center;
    display: block;
    margin: auto;
=======
.mappa1 {
    margin-top: 200px;
    font-size: 90px;
>>>>>>> 39476b68f9429318f7e9843b52db6da1e76aa3db
}

